<div class="page-header">
  <h3>Tour Guide: <%= @guide.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @guide.name %></dd>

      <dt>Age</dt>
      <dd><%= @guide.age %></dd>

      <dt>A Little About Me...</dt>
      <dd><%= @guide.bio %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @guide.image_url %>" height="500"></dd>

      <dt>My Creations</dt>
      <dd>
        <ul>
          <% @guide.days.each do |day| %>
          <li>
            <a href="/days/<%= day.id %>"><%= day.title %></a>
          </li>

          <% end %>
        </ul>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guides" class="btn btn-primary">
        Back
      </a>
      <a href="/guides/<%= @guide.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guide/<%= @guide.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
